footer {
    display:flex;
    padding:4.5rem 0;
   background-color: rgb(248, 247, 247);
 
}

.footer-box {
    flex-basis:25%;
    padding:0 0 1rem 1.3rem;
}

.title-footer {
    margin-bottom:1rem;
}

.footer-box:not(:first-child) {
    border-left:1px solid rgb(110, 108, 108);
}

.footer-icon-box {
    display:flex;
}

.footer-links {
    display:flex;
    flex-direction: column;
}

.footer-link:not(:last-child) {
    margin-bottom:0.6rem;
}

.footer-link {
    text-decoration: none;
    color:rgb(41, 41, 41);
}

.footer-link:hover {
    color:orange;
    transition: .2s ease-in-out;
}

.icons-links {
    color:white;
    padding:0.7rem 1.1rem;
    background-color: orange;
    cursor: pointer;
    font-size:1.1rem;
}

.icons-links:hover {
   background-color: rgb(128, 127, 127);
   transition: .2s ease-in-out;
   transform: scale(1.1);
}

.icons-links:not(:first-child) {
    margin-left:0.6rem;
}