.bike-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1.7rem;
    width:78%;
    margin-right:1.1rem;
    padding:0.5rem 0;
}

@media(max-width:1200px) {
    .bike-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.3rem;
    }
}