.card {
    border:2px solid rgb(197, 195, 195);
    border-radius: 0.3rem;;
}

.card:hover {
    border:2px solid orange;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.image-box {
    display:flex;
    align-items: center;
    justify-content: center;
    height:230px;
    overflow: hidden;
}

.img-bike {
    width:270px;
    object-fit: cover;
}

.img-bike:hover {
    transform: scale(1.2);
    transition:.3s ease-in-out;
}

.bike-info {
    background-color: orange;
    padding:1.4rem 0 1.7rem 1.5rem;
}

.bike-model {
    margin-bottom:0.4rem;
}