@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Reenie+Beanie&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .center {
      width:88%;
      margin:0 auto;
  }

  body {
    background-color: rgb(224, 224, 224);
  }
  
  